
<div class="main">
  <div class="container">
    <h1>{{title}}</h1>

    <h2>Users attending</h2>
    <ul class="users">
      <li *ngFor="let user of users"
          [class.active]="user.isActive"
          (click)="selectedUser(user.name)">
        {{ user.name }}
      </li>
    </ul>

    <h3 *ngIf="!selectedUsers; else showVenues">Please select attendees</h3>

    <ng-template #showVenues>
      <h2>Places to go</h2>
      <ul>
        <li *ngFor="let venue of filteredVenues"
            [class.active]="venue.isActive">
          {{ venue.name }} 
          <span *ngIf="venue.foodReason">{{ venue.foodReason }}</span>
          <span *ngIf="venue.drinkReason">{{ venue.drinkReason }}</span>
        </li>
      </ul>
    </ng-template>
  </div>
</div>